*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: rgb(91, 153, 49);
    text-align: center;
    color:aliceblue;
    padding: 5px
}

main {
    flex-grow: 1;
    position: relative;
}

.container  {
    width: 80%;
    height: 96%;
    border: 3px solid rgb(91, 153, 49);
    margin: 8px auto;
    padding: 10px;
}

th, td{
    padding: 5px;
    background-color: rgb(148, 192, 192);
}

.modal {
    border: 1px solid red;
    padding: 10px;
    position: absolute;
    top: 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.form label {
    font-weight: bold;
    margin-bottom: .3em;
    display: inline-block;
}

.form input {
    display: inline;
}