*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: rgb(91, 153, 49);
    text-align: center;
    color:aliceblue;
    padding: 5px
}

main {
    flex-grow: 1;

}

.container  {
    width: 80%;
    height: 96%;
    border: 3px solid rgb(91, 153, 49);
    margin: 8px auto;
    padding: 10px;
}

table{
    border: 1px solid green;
}